<html>
    <!DOCTYPE html>
     <html lang = "ko">
     <head>
       <meta charset = "UTF-8">
       <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
       <title>posts</title>
     </head>

     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

     <style>
        body{
            position: absolute;
            left: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
        }
        div{
            padding: 20px;
        }
        input{
            transition: all 0.5s ease-in-out;
            outline: none;
            padding: 20px 50px 20px 50px;
            border:none;
    
            border-bottom: gray 1px solid;
            font-size: 18px;    
            cursor: pointer;
        }
        input:focus{
            box-shadow: 3px 3px 10px 2px #74b9ff;
    
    
        }
    
    </style>

     <body>
        <input type = "text" placeholder = "title" id = "title" value = ""> <br><br>
        <input type = "text" placeholder = "content" id = "content" value = ""> <br><br>
       <input type= "button" onclick='showPosts()' value = "게시글 작성하기">
     </body>  

    <script>
       function showPosts() {
            const token = localStorage.getItem('JWT')
            //alert(token)
            axios.defaults.headers.common['Authorization'] = token
            console.log("here")
            const title = document.getElementById('title').value
            const content = document.getElementById('content').value
            axios({
                method: 'POST', //통신 방식
                url: '/travelers/showPosts', //통신할 페이지
                headers: {
                    "Access-Control-Allow-Origin" : "*",
                    "Content-type": "Application/json",
                    Authorization: token
                },
                data: {
                    "title" : title,
                    "content" : content
                }, //인자로 보낼 데이터
                withCredentials: true,
                crossDomain: true,
                credentials: "include"
            }).
            then((res) => {
                console.log(res)
                alert(title + '\n' + content)
            }).
            catch((err) => {
                console.log(err)
            })
       }
    </script>
</html>